*{
    box-sizing: border-box;
}
body{
    margin: 0;

}

.flex-container{
    display: flex;
   flex-wrap: wrap;
   border: 2px solid red;
}

.flex-container > div{
  
    padding:5px ;
    height: 200px;
}

.flex-item-1{
    background-color: rgb(142,64,129);
   
}
.flex-item-2{
background-color: rgb(172,102,230);
}
.flex-item-3{
background-color: rgb(121,103,254);
}

.flex-item-4{
   background-color: rgb(87,148,11); 
}
.flex-item-5{
    background-color: rgb(232,239,23);
}

.flex-item-6{
    background-color: rgb(237,142,7);
}

.flex-item-7{
    background-color: rgb(229,77,4);
}

@media screen and (max-width:600px){
    .flex-container > div{
        width: 100%;
        
       
    }
   
}

@media screen and (min-width:601px){
    .flex-item-1,.flex-item-2,.flex-item-6,.flex-item-7{
        /* width: 100%; */
        flex: 1 1 100%;
    
    }
    .flex-item-3,.flex-item-4,.flex-item-5{
        flex: 1 1 33.33%;
    }
}
@media screen and (min-width:801px){
    .flex-item-1,.flex-item-2,.flex-item-6,.flex-item-7{
        flex: 1 1 50%;
    }
    /* .flex-item-3,.flex-item-4,.flex-item-5{
        width: 33.33%;
    } */
}